@{
    ViewData["Title"] = "CONTACT";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    ENCINO MEDICAL HOSPITAL<br />
    KAKKANAD,KOCHI,KERALA<br />
    <abbr title="Phone">P:</abbr>
     900000000
</address>

<address>
    <strong>MANAGER:</strong> <a href="mailto:aneesha@gmail.com">Aneesha@gmail.com</a><br />
    
</address>
